<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sys.supervision.dao.AccountMapper">
  <resultMap id="BaseResultMap" type="com.sys.supervision.entity.db.Account">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="role" jdbcType="INTEGER" property="role" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="token_expire" jdbcType="TIMESTAMP" property="tokenExpire" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
    <result column="creater" jdbcType="VARCHAR" property="creater" />
    <result column="modify_at" jdbcType="TIMESTAMP" property="modifyAt" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.sys.supervision.entity.db.Account">
    <result column="remark" jdbcType="LONGVARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, account, name, pwd, role, token, token_expire, status, create_at, creater, modify_at, 
    modifier, remark
  </sql>
  <sql id="Blob_Column_List">
    remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_account
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_account
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sys.supervision.entity.db.Account">
    insert into tb_account (id, account, name, 
      pwd, role, token, token_expire, 
      status, create_at, creater, 
      modify_at, modifier, remark
      )
    values (#{id,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{pwd,jdbcType=VARCHAR}, #{role,jdbcType=INTEGER}, #{token,jdbcType=VARCHAR}, #{tokenExpire,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER}, #{createAt,jdbcType=TIMESTAMP}, #{creater,jdbcType=VARCHAR}, 
      #{modifyAt,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, #{remark,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sys.supervision.entity.db.Account">
    insert into tb_account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="pwd != null">
        pwd,
      </if>
      <if test="role != null">
        role,
      </if>
      <if test="token != null">
        token,
      </if>
      <if test="tokenExpire != null">
        token_expire,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createAt != null">
        create_at,
      </if>
      <if test="creater != null">
        creater,
      </if>
      <if test="modifyAt != null">
        modify_at,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="role != null">
        #{role,jdbcType=INTEGER},
      </if>
      <if test="token != null">
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="tokenExpire != null">
        #{tokenExpire,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createAt != null">
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="modifyAt != null">
        #{modifyAt,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sys.supervision.entity.db.Account">
    update tb_account
    <set>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        pwd = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="role != null">
        role = #{role,jdbcType=INTEGER},
      </if>
      <if test="token != null">
        token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="tokenExpire != null">
        token_expire = #{tokenExpire,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createAt != null">
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null">
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="modifyAt != null">
        modify_at = #{modifyAt,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.sys.supervision.entity.db.Account">
    update tb_account
    set account = #{account,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR},
      role = #{role,jdbcType=INTEGER},
      token = #{token,jdbcType=VARCHAR},
      token_expire = #{tokenExpire,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      creater = #{creater,jdbcType=VARCHAR},
      modify_at = #{modifyAt,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sys.supervision.entity.db.Account">
    update tb_account
    set account = #{account,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR},
      role = #{role,jdbcType=INTEGER},
      token = #{token,jdbcType=VARCHAR},
      token_expire = #{tokenExpire,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      creater = #{creater,jdbcType=VARCHAR},
      modify_at = #{modifyAt,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="selectByAccount" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from tb_account
    where account = #{account}
  </select>

  <select id="selectByToken" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from tb_account
    where token = #{token}
    order by modify_at desc
    limit 1
  </select>

  <update id="updateTokenByAccount">
    update tb_account
    set
      token = #{token, jdbcType=VARCHAR},
      token_expire = #{tokenExpire,jdbcType=TIMESTAMP}
    where account = #{account}
  </update>

  <select id="countBySearch" resultType="java.lang.Integer">
    select count(1)
    from tb_account
    where 1=1
    <include refid="search_where" />
  </select>

  <sql id="search_where">
    <if test="account != null">
      and account like concat('%', concat(#{account}, '%'))
    </if>
  </sql>

  <select id="selectBySearch" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from tb_account
    where 1=1
    <include refid="search_where" />
    order by modify_at desc
    limit #{startRow}, #{endRow}
  </select>

</mapper>