<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sys.supervision.dao.PictureMapper" >
  <resultMap id="BaseResultMap" type="com.sys.supervision.entity.db.Picture" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="camera_id" property="cameraId" jdbcType="VARCHAR" />
    <result column="task_id" property="taskId" jdbcType="VARCHAR" />
    <result column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="pic_time" property="picTime" jdbcType="TIMESTAMP" />
    <result column="pic_status" property="picStatus" jdbcType="INTEGER" />
    <result column="size" property="size" jdbcType="BIGINT" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
    <result column="modify_at" property="modifyAt" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.sys.supervision.entity.db.Picture" extends="BaseResultMap" >
    <result column="base64" property="base64" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, camera_id, task_id, project_id, path, pic_time, pic_status, size, create_at, 
    creater, modify_at, modifier
  </sql>
  <sql id="Blob_Column_List" >
    base64
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_pic
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_pic
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sys.supervision.entity.db.Picture" >
    insert into tb_pic (id, camera_id, task_id, 
      project_id, path, pic_time, 
      pic_status, size, create_at, 
      creater, modify_at, modifier, 
      base64)
    values (#{id,jdbcType=INTEGER}, #{cameraId,jdbcType=VARCHAR}, #{taskId,jdbcType=VARCHAR}, 
      #{projectId,jdbcType=INTEGER}, #{path,jdbcType=VARCHAR}, #{picTime,jdbcType=TIMESTAMP}, 
      #{picStatus,jdbcType=INTEGER}, #{size,jdbcType=BIGINT}, #{createAt,jdbcType=TIMESTAMP}, 
      #{creater,jdbcType=VARCHAR}, #{modifyAt,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, 
      #{base64,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sys.supervision.entity.db.Picture" >
    insert into tb_pic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cameraId != null" >
        camera_id,
      </if>
      <if test="taskId != null" >
        task_id,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="path != null" >
        path,
      </if>
      <if test="picTime != null" >
        pic_time,
      </if>
      <if test="picStatus != null" >
        pic_status,
      </if>
      <if test="size != null" >
        size,
      </if>
      <if test="createAt != null" >
        create_at,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="modifyAt != null" >
        modify_at,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="base64 != null" >
        base64,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cameraId != null" >
        #{cameraId,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null" >
        #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="path != null" >
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="picTime != null" >
        #{picTime,jdbcType=TIMESTAMP},
      </if>
      <if test="picStatus != null" >
        #{picStatus,jdbcType=INTEGER},
      </if>
      <if test="size != null" >
        #{size,jdbcType=BIGINT},
      </if>
      <if test="createAt != null" >
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="modifyAt != null" >
        #{modifyAt,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="base64 != null" >
        #{base64,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sys.supervision.entity.db.Picture" >
    update tb_pic
    <set >
      <if test="cameraId != null" >
        camera_id = #{cameraId,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null" >
        task_id = #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="path != null" >
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="picTime != null" >
        pic_time = #{picTime,jdbcType=TIMESTAMP},
      </if>
      <if test="picStatus != null" >
        pic_status = #{picStatus,jdbcType=INTEGER},
      </if>
      <if test="size != null" >
        size = #{size,jdbcType=BIGINT},
      </if>
      <if test="createAt != null" >
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="modifyAt != null" >
        modify_at = #{modifyAt,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="base64 != null" >
        base64 = #{base64,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.sys.supervision.entity.db.Picture" >
    update tb_pic
    set camera_id = #{cameraId,jdbcType=VARCHAR},
      task_id = #{taskId,jdbcType=VARCHAR},
      project_id = #{projectId,jdbcType=INTEGER},
      path = #{path,jdbcType=VARCHAR},
      pic_time = #{picTime,jdbcType=TIMESTAMP},
      pic_status = #{picStatus,jdbcType=INTEGER},
      size = #{size,jdbcType=BIGINT},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      creater = #{creater,jdbcType=VARCHAR},
      modify_at = #{modifyAt,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      base64 = #{base64,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sys.supervision.entity.db.Picture" >
    update tb_pic
    set camera_id = #{cameraId,jdbcType=VARCHAR},
      task_id = #{taskId,jdbcType=VARCHAR},
      project_id = #{projectId,jdbcType=INTEGER},
      path = #{path,jdbcType=VARCHAR},
      pic_time = #{picTime,jdbcType=TIMESTAMP},
      pic_status = #{picStatus,jdbcType=INTEGER},
      size = #{size,jdbcType=BIGINT},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      creater = #{creater,jdbcType=VARCHAR},
      modify_at = #{modifyAt,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="selectByEquipId" resultMap="ResultMapWithBLOBs">
    select *
    from tb_pic
    where camera_id = #{id}
  </select>

</mapper>