<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sys.supervision.dao.PictureMapper" >
  <resultMap id="BaseResultMap" type="com.sys.supervision.entity.db.Picture" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="camera_id" property="cameraId" jdbcType="INTEGER" />
    <result column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="pic_time" property="picTime" jdbcType="TIMESTAMP" />
    <result column="pic_status" property="picStatus" jdbcType="INTEGER" />
    <result column="size" property="size" jdbcType="BIGINT" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
    <result column="modify_at" property="modifyAt" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, camera_id, project_id, path, pic_time, pic_status, size, create_at, creater, 
    modify_at, modifier
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_pic
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_pic
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sys.supervision.entity.db.Picture" >
    insert into tb_pic (id, camera_id, project_id, 
      path, pic_time, pic_status, 
      size, create_at, creater, 
      modify_at, modifier)
    values (#{id,jdbcType=INTEGER}, #{cameraId,jdbcType=INTEGER}, #{projectId,jdbcType=INTEGER}, 
      #{path,jdbcType=VARCHAR}, #{picTime,jdbcType=TIMESTAMP}, #{picStatus,jdbcType=INTEGER}, 
      #{size,jdbcType=BIGINT}, #{createAt,jdbcType=TIMESTAMP}, #{creater,jdbcType=VARCHAR}, 
      #{modifyAt,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sys.supervision.entity.db.Picture" >
    insert into tb_pic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cameraId != null" >
        camera_id,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="path != null" >
        path,
      </if>
      <if test="picTime != null" >
        pic_time,
      </if>
      <if test="picStatus != null" >
        pic_status,
      </if>
      <if test="size != null" >
        size,
      </if>
      <if test="createAt != null" >
        create_at,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="modifyAt != null" >
        modify_at,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cameraId != null" >
        #{cameraId,jdbcType=INTEGER},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="path != null" >
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="picTime != null" >
        #{picTime,jdbcType=TIMESTAMP},
      </if>
      <if test="picStatus != null" >
        #{picStatus,jdbcType=INTEGER},
      </if>
      <if test="size != null" >
        #{size,jdbcType=BIGINT},
      </if>
      <if test="createAt != null" >
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="modifyAt != null" >
        #{modifyAt,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sys.supervision.entity.db.Picture" >
    update tb_pic
    <set >
      <if test="cameraId != null" >
        camera_id = #{cameraId,jdbcType=INTEGER},
      </if>
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="path != null" >
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="picTime != null" >
        pic_time = #{picTime,jdbcType=TIMESTAMP},
      </if>
      <if test="picStatus != null" >
        pic_status = #{picStatus,jdbcType=INTEGER},
      </if>
      <if test="size != null" >
        size = #{size,jdbcType=BIGINT},
      </if>
      <if test="createAt != null" >
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="modifyAt != null" >
        modify_at = #{modifyAt,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sys.supervision.entity.db.Picture" >
    update tb_pic
    set camera_id = #{cameraId,jdbcType=INTEGER},
      project_id = #{projectId,jdbcType=INTEGER},
      path = #{path,jdbcType=VARCHAR},
      pic_time = #{picTime,jdbcType=TIMESTAMP},
      pic_status = #{picStatus,jdbcType=INTEGER},
      size = #{size,jdbcType=BIGINT},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      creater = #{creater,jdbcType=VARCHAR},
      modify_at = #{modifyAt,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByEquipId" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from tb_pic
    where camera_id = #{equipId}
  </select>

</mapper>